<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro de Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    
    <ion-item>
      <ion-label position="stacked">Nombre del artículo <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="nombre" placeholder="Ej. Audífonos Sony"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="articleForm.get('nombre')?.hasError('minlength') && articleForm.get('nombre')?.touched">
      <ion-text color="danger"><small>Mínimo 3 caracteres.</small></ion-text>
    </div>

    <ion-item>
      <ion-label position="stacked">Precio <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="number" formControlName="precio" placeholder="0"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="articleForm.get('precio')?.hasError('min') && articleForm.get('precio')?.touched">
      <ion-text color="danger"><small>El precio debe ser mayor a 0.</small></ion-text>
    </div>

    <ion-item>
      <ion-label position="stacked">Categoría <ion-text color="danger">*</ion-text></ion-label>
      <ion-select formControlName="categoria" placeholder="Seleccione">
        <ion-select-option value="tecnologia">Tecnología</ion-select-option>
        <ion-select-option value="hogar">Hogar</ion-select-option>
        <ion-select-option value="ropa">Ropa</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de ingreso <ion-text color="danger">*</ion-text></ion-label>
      <ion-datetime-button datetime="datetime" slot="end"></ion-datetime-button>
    </ion-item>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime" presentation="date" formControlName="fecha"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-item>
      <ion-label>Disponible para venta</ion-label>
      <ion-toggle slot="end" formControlName="activo"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>

    <ion-item lines="none" class="ion-margin-top">
      <ion-checkbox slot="start" formControlName="confirmacion"></ion-checkbox>
      <ion-label class="ion-text-wrap">Confirmo que los datos son correctos</ion-label>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="articleForm.invalid" class="ion-margin-top">
      Registrar Artículo
    </ion-button>

    <ion-button expand="block" fill="outline" routerLink="/registros" class="ion-margin-top">
      Ver Artículos Guardados
    </ion-button>

  </form>
</ion-content>