.status-item {
  margin-bottom: 12px;
  --background: #f9f9f9;
  border-radius: 10px;
}

.camara-container {
  margin-top: 20px;
  text-align: center;
}

.video-preview {
  width: 100%;
  max-height: 320px;
  background-color: #000;
  border-radius: 12px;
  object-fit: contain;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.foto-capturada {
  margin-top: 15px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.audio-container {
  margin-top: 25px;
}

.audio-player {
  width: 100%;
  margin-top: 15px;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.resultado {
  margin-top: 16px;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  border-radius: 12px;
  background: var(--ion-color-light);
  color: var(--ion-color-primary);
  font-size: 1.1rem;
}
