.contenedor-camara {
  margin-top: 20px;
  text-align: center;
}

video {
  width: 100%;
  max-height: 300px;
  border-radius: 10px;
  background: black;
}

img {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}
.contenedor-audio {
  margin-top: 20px;
  text-align: center;
}