<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Rick & Morty - Juan Perlaza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center" *ngIf="loadingList">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando personajes...</p>
  </div>

  <ion-grid *ngIf="!loadingList">
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let c of characters">
        <ion-card button (click)="openDetail(c.id)">
          <img [src]="c.image" />
          <ion-card-header>
            <ion-card-title style="font-size: 1rem;">{{ c.name }}</ion-card-title>
            <ion-card-subtitle>{{ c.status }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar color="success">
          <ion-title>Detalles del Personaje</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen = false">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div class="ion-text-center" *ngIf="loadingDetail">
          <ion-spinner name="dots"></ion-spinner>
        </div>

        <ion-card *ngIf="selected">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img [src]="selected.image" />
            </ion-avatar>
            <ion-label>
              <h2 style="font-weight: bold;">{{ selected.name }}</h2>
              <p>{{ selected.species }} • {{ selected.gender }}</p>
            </ion-label>
          </ion-item>

          <ion-card-content>
            <p><strong>Estado:</strong> {{ selected.status }}</p>
            <p><strong>Origen:</strong> {{ selected.origin?.name }}</p>
            <p><strong>Ubicación:</strong> {{ selected.location?.name }}</p>

            <ion-button expand="block" color="success" (click)="loadResidents()" style="margin-top: 15px;">
              <ion-icon name="people-outline" slot="start"></ion-icon>
              Ver residentes de esta zona
            </ion-button>
          </ion-card-content>
        </ion-card>

        <div class="ion-text-center" *ngIf="loadingResidents">
          <ion-spinner name="crescent"></ion-spinner>
          <p>Buscando otros habitantes...</p>
        </div>

        <ion-card *ngIf="locationInfo">
          <ion-card-header color="light">
            <ion-card-title>{{ locationInfo.name }}</ion-card-title>
            <ion-card-subtitle>
              {{ locationInfo.type }} • {{ locationInfo.dimension }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-list>
            <ion-item *ngFor="let r of locationInfo.residents">
              <ion-avatar slot="start">
                <img [src]="r.image" />
              </ion-avatar>
              <ion-label>
                <h3>{{ r.name }}</h3>
                <p>{{ r.status }} • {{ r.species }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>