<ion-header>
  <ion-toolbar>
    <ion-title>Media Permisos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="solicitarPermisos()">Solicitar permisos o Activar camara</ion-button>

  <p>Cámara: {{ cameraGranted ? 'Concedido' : 'Denegado' }}</p>
  <p>Micrófono: {{ micGranted ? 'Concedido' : 'Denegado' }}</p>

  <div *ngIf="cameraGranted">

  <div *ngIf="!photo">
    <video #videoElement autoplay></video>
    <ion-button expand="block" (click)="tomarFoto()">
      Tomar foto
    </ion-button>
  </div>

  <div *ngIf="photo">
    <img [src]="photo" />
    <ion-button expand="block" color="medium" (click)="reiniciarCamara()">
      Tomar otra foto
    </ion-button>
  </div>

</div>


  <div *ngIf="micGranted">
    <ion-button (click)="grabarAudio()">Grabar audio (5s)</ion-button>
    <audio *ngIf="audioUrl" [src]="audioUrl" controls></audio>
  </div>

 <ion-item>
  <ion-label position="stacked">Descripción de la captura</ion-label>
  <ion-input
    [(ngModel)]="descripcion"
    placeholder="Estoy probando la cámara y el micrófono">
  </ion-input>
</ion-item>

<ion-button expand="block" (click)="analizarTexto()">
  Analizar texto
</ion-button>


<p *ngIf="cargando">Analizando...</p>
<p *ngIf="errorApi" style="color:rgb(50, 139, 27)">{{ errorApi }}</p>

<div *ngIf="resultado">
  <p><strong>Resultado:</strong> {{ resultado.label }}</p>
  <p><strong>Confianza:</strong> {{ resultado.score | number:'1.2-2' }}</p>
</div>
<ion-button expand = "block" type="button"routerLink="">
  Volver al inicio
</ion-button>