<ion-header>
  <ion-toolbar>
    <ion-title>Detalle del episodio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text *ngIf="loading">
    <p>Cargando episodio...</p>
  </ion-text>

  <div *ngIf="!loading && episode">

    <h2>{{ episode.name }}</h2>
    <p><strong>Código:</strong> {{ episode.episode }}</p>
    <p><strong>Fecha:</strong> {{ episode.air_date }}</p>

    <ion-list>
      <ion-item *ngFor="let c of episode.characters">
        <ion-avatar slot="start">
          <img [src]="c.image" />
        </ion-avatar>

        <ion-label>
          <h3>{{ c.name }}</h3>
          <p>{{ c.status }} - {{ c.species }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>
