<ion-header>
  <ion-toolbar>
    <ion-title>REGISTRO DE ARTICULOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formulario" (ngSubmit)="guardarArticulo()">
    <ion-list>

      <ion-item>
        <ion-label position="stacked">Nombre del artículo</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-text *ngIf="f['nombre'].touched && f['nombre'].invalid">
        <p *ngIf="f['nombre'].errors?.['required']">El nombre es obligatorio.</p>
        <p *ngIf="f['nombre'].errors?.['minlength']">Usa mínimo 3 caracteres.</p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked">Precio</ion-label>
        <ion-input type="number" formControlName="precio"></ion-input>
      </ion-item>
      <ion-text *ngIf="f['precio'].touched && f['precio'].invalid">
        <p *ngIf="f['precio'].errors?.['required']">El precio es obligatorio.</p>
        <p *ngIf="f['precio'].errors?.['min']">El precio debe ser mayor que cero.</p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked">Categoría del artículo</ion-label>
        <ion-select formControlName="categoria">
          <ion-select-option value="tecnologia">Tecnología</ion-select-option>
          <ion-select-option value="hogar">Hogar</ion-select-option>
          <ion-select-option value="ropa">Ropa</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text *ngIf="f['categoria'].touched && f['categoria'].invalid">
        <p>Selecciona una categoría.</p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked">Fecha de ingreso</ion-label>
        <ion-datetime presentation="date" formControlName="fecha"></ion-datetime>
      </ion-item>
      <ion-text *ngIf="f['fecha'].touched && f['fecha'].invalid">
        <p>Selecciona la fecha de ingreso.</p>
      </ion-text>

      <ion-item>
        <ion-label>Disponibilidad del artículo</ion-label>
        <ion-toggle formControlName="disponible"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Descripción del artículo</ion-label>
        <ion-textarea formControlName="descripcion"></ion-textarea>
      </ion-item>

      <ion-item lines="none">
        <ion-checkbox formControlName="confirmar"></ion-checkbox>
        <ion-label class="ion-padding-start">
          Confirmo el registro del artículo
        </ion-label>
      </ion-item>
      <ion-text *ngIf="f['confirmar'].touched && f['confirmar'].invalid">
        <p>Debes confirmar el registro.</p>
      </ion-text>

    </ion-list>

    <ion-button expand="block" class="ion-margin-top" type="submit">
      Guardar artículo
    </ion-button>

    <ion-button expand = "block" type="button"routerLink="">
        Volver al inicio
    </ion-button>

  </form>
</ion-content>
