<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>Este es el componente home</p>
</ion-content>
<ion-button routerLink="pages/perfil">
    Ir al Perfil
</ion-button>
<ion-button routerLink="pages/galeria">
    Ir al a Galería
</ion-button>

<ion-button routerLink="sales/formulario-articulos">
    Ir al a formulario de articulos
</ion-button>

<ion-button routerLink="sales/listado-articulos">
    Ir al listado de articulos
</ion-button>