<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Este es el componente home</p>

  <!-- ACTIVIDAD 1 -->
  <ion-button expand="block" routerLink="/perfil">
    Ir al Perfil
  </ion-button>

  <ion-button expand="block" routerLink="/galeria">
    Ir a Galería
  </ion-button>

  <ion-button expand="block" routerLink="/registro">
    Acceder a Registro
  </ion-button>

  <ion-button expand="block" routerLink="/registros">
    Listado de Usuarios
  </ion-button>

  <ion-button expand="block" routerLink="/registro-articulo">
    Registro de Artículos
  </ion-button>

  <ion-button expand="block" routerLink="/listado-articulos">
    Listado de Artículos
  </ion-button>

</ion-content>
