<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>Este es el componente home</p>
</ion-content>
<ion-button routerLink="/registro-usuario">
    Registro de USUARIOS
</ion-button>
<ion-button routerLink="/listado-usuarios">
    Listado de USUARIOS
</ion-button>
<ion-button routerLink="/registro-articulo">
    Registro de Articulo
</ion-button>
<ion-button routerLink="/listado-articulos">
    Listado de articulos
</ion-button>
<ion-button routerLink="/chat">
    Chat IA
</ion-button>