ion-title {
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

ion-button {
  --background: linear-gradient(90deg, #00ffcc, #0072ff);
  --color: #fff;
  border-radius: 12px;
  font-weight: bold;
  margin: 12px 0;
  box-shadow: 0 4px 12px rgba(0,255,200,0.4);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

ion-toolbar {
  --background: linear-gradient(90deg, #1d2224, #19467e);
  --color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}