<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" color="primary" routerLink=""></ion-icon>
    <ion-title>Registro de Artículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre del artículo</ion-label>
        <ion-input formControlName="nombre" placeholder="Ingresa el nombre del artículo"></ion-input>
      </ion-item>
      <ion-text *ngIf="f['nombre'].touched && f['nombre'].invalid">
        <p *ngIf="f['nombre'].errors?.['required']">Nombre de artículo obligatorio.</p>
        <p *ngIf="f['nombre'].errors?.['minlength']">Utiliza mí nimo 3 caracteres.</p>
      </ion-text>

      <ion-item>
        <div class="precio-row">
          <ion-icon name="cash-outline"></ion-icon>

          <ion-input type="number" formControlName="precio" placeholder="Precio del artículo">
          </ion-input>
        </div>
      </ion-item>
      <ion-text *ngIf="f['precio'].touched && f['precio'].invalid">
        <p *ngIf="f['precio'].errors?.['min']">El precio del artículo debe ser mayor a 0.</p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked">Categoría</ion-label>
        <ion-select formControlName="categoria" placeholder="Seleccione la categoría del producto">
          <ion-select-option value="Tecnlogía">Teconlogía</ion-select-option>
          <ion-select-option value="Belleza y Salud">Belleza y Salud</ion-select-option>
          <ion-select-option value="Moda">Moda</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text *ngIf="f['categoria'].touched && f['categoria'].invalid">
        <p>Selecciona una categoría.</p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked">Fecha Ingreso</ion-label>


        <ion-datetime-button datetime="fechaIngreso"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="fechaIngreso" presentation="date" formControlName="fechaIngreso"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-text color="danger" *ngIf="f['fechaIngreso'].touched && f['fechaIngreso'].invalid">
        <p>Selecciona una fecha.</p>
      </ion-text>

      <ion-item>
        <ion-label>Disponible</ion-label>
        <ion-toggle formControlName="disponibilidad"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Descripción de artículo</ion-label>
        <ion-textarea formControlName="descripcion" placeholder="Este articulo..."></ion-textarea>
      </ion-item>
      <ion-text *ngIf="f['descripcion'].touched && f['descripcion'].invalid">
        <p *ngIf="f['biografia'].errors?.['maxlength']">Máximo 150 caracteres.</p>
      </ion-text>

      <ion-item lines="none">
        <ion-icon name="information-circle-outline"></ion-icon><ion-label class="ion-padding-start">Confirmo crear
          artículo</ion-label>
        <ion-checkbox formControlName="confirmacion"></ion-checkbox>
      </ion-item>

      <ion-text *ngIf="f['confirmacion'].touched && f['confirmacion'].invalid">
        <p>Debes confirmar la creación del artículo</p>
      </ion-text>
    </ion-list>


    <ion-button expand="block" class="ion-margin-top" type="submit">
      Registrar Artículo
    </ion-button>

  </form>
  <ion-text *ngIf="guardadoOK">
    <p class="guardado">Registro guardado localmente.</p>
  </ion-text>

</ion-content>