.video-container {
  margin-top: 20px;
  border: 2px solid var(--ion-color-medium);
  border-radius: 12px;
  overflow: hidden;

  video {
    width: 100%;
    max-height: 400px;
    background-color: black;
    display: block;
  }
}

.captured-photo {
  margin-top: 10px;
  width: 100%;
  border-radius: 8px;
  border: 4px solid white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.start-container {
  margin-top: 50px;
}